<div class="chat-header">
    <div class="container-fluid header-bar">
        <i class="far fa-list-alt fa-2x" id="openSideMenu"></i>
        <button class="btn" id="openProfilePopUp"></button>
    </div>
</div>
<div class="chat-container">
    <div class="side-chatbar">
        {{> chatlist}}
    </div>
    <div class="chat-content">
        <div class="chat-box">
            {{> chat}}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#openSideMenu").off("click").on("click", function() {
            $(".side-chatbar").toggleClass("open");
        });

        if(window.displayName) {
            let profileShortNameArr = window.displayName.trim().split(" ");
            let profileShortName = profileShortNameArr.length <= 1 ? profileShortNameArr[0]?.slice(0,1) : profileShortNameArr[0]?.slice(0,1) + profileShortNameArr[1]?.slice(0,1);
            $("#openProfilePopUp").text(profileShortName)
        }

    });
</script>