<link rel="stylesheet" type="text/css" href="/chatlist.css">

<div id="chat-list">
  <div id="channels-list">
    <div class="list-title py-1 px-3">
      <strong><i class="fa fa-caret-right mx-2"></i>Channels</strong>
      <i class="fa fa-plus-square" id="addChannelBtn" title="Add new channel"></i>
    </div>
    <div id="channels-lists">
      <span class="m-3">No Channels</span>
    </div>
  </div>
  <div id="friends-list">
    <div class="list-title py-1 px-3">
      <strong><i class="fa fa-caret-right mx-2"></i>Friends</strong>
      <i class="fa fa-plus-square" id="addChatBtn" title="Add chat"></i>
    </div>
    <div id="friends-lists">
      <span class="m-3">No Friends</span>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    
  });
</script>

<!-- <script src="/socket.io/socket.io.js"></script> -->