<link rel="stylesheet" type="text/css" href="/chat.css">

<ul id="messages"></ul>
<form id="form" action="">
  <textarea id="input" autocomplete="off" maxlength="1000" rows="2"></textarea><button><i class="far fa-paper-plane"></i></button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var form = document.getElementById('form');
    var input = document.getElementById('input');
    input.focus();

    socket.onAny((event, ...args) => {
      console.log(event, args);
    });

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        let name = firebase.auth()?.currentUser?.displayName;
        if (input.value) {
            socket.emit('chat message', input.value, name);
            input.value = '';
            input.focus()
        }
    });

    socket.on('chat message', function(msg, name) {
        var item = document.createElement('li');
        item.innerHTML = "<span>" + name + "</span><div>" + msg + "</div>";
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>