<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="chaticon.png"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/login.css">
    
  </head>
  <body>
    
    <div id="loadingGuage"><span class="fa fa-spinner fa-5x fa-pulse text-white"></span></div>
    <div class="m-auto col-md-6 col-sm-12 p-lg-4 p-sm-3 p-3">
      <div class="text-center">
        <img src="chaticon.png" alt="chat image" class="img img-thumbnail" />
      </div>
      <h1 class="text-center my-2" id="title">Login</h1>
      <form id="phoneForm" class="form my-5" autocomplete="off">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">+91</span>
          </div>
          <input type="number" maxlength="10" required autofocus class="form-control" name="phone" placeholder="Phone number" />
          <span class="invalid-feedback d-block" id="phoneError"></span>
        </div>
        <div class="text-right">
          <button type="submit" id="sign-in-button" name="sign-in-button" class="sign-in-button btn btn-primary">Sign In</button>
        </div>
        <div class="clearfix"></div>
      </form>
      <form id="codeForm" class="form my-5" autocomplete="off">
        <input type="number" class="form-control mb-3" name="code" maxlength="6" required placeholder="Enter the code" />
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Confirm Code</button>
        </div>
        <div class="mt-4">
          <span class="fl text-primary" id="codeResend">Re-send the code</span>
          <span class="fr text-primary" id="mobileReenter">Re-enter the phone number</span>
        </div>
        <div class="clearfix"></div>
      </form>
      <form id="profileCompleteForm" class="form">
        <div class="text-center"><span class="text-light" id="curProfileId"></span></div>
        <div class="form-group my-3">
          <label for="dispName">Display Name</label>
          <input type="text" class="form-control" id="dispName" name="dispName" max="25" min="3" required />
        </div>
        <div class="form-group my-3">
          <label for="dob">Date of Birth</label>
          <input type="date"  class="form-control" id="dob" name="dob" required />
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Complete Registration</button>
        </div>
        <div class="text-center py-2 mt-3 border-top border-bottom"><span>(or)</span></div>
        <div class="mt-4 text-center">
          <span class="text-primary" id="signOut">Sign Out</span> and try with another account.
        </div>
      </form>
    </div>  


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    
    <script>
      $("#loadingGuage").removeClass("hide");
      var fbConfig = {
        apiKey: "AIzaSyAhZ2or37fRxUWZkIN317ek7vwoZj16gtM",
        authDomain: "friends-chat-d08ee.firebaseapp.com",
        databaseURL: "https://friends-chat-d08ee.firebaseio.com",
        projectId: "friends-chat-d08ee",
        storageBucket: "friends-chat-d08ee.appspot.com",
        messagingSenderId: "961888947519",
        appId: "1:961888947519:web:77dfffe07e8b522cbe578a"
      };

      if(firebase.apps.length == 0) { 
        firebase.initializeApp(fbConfig);
      }

      firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
          var displayName = user.displayName && user.displayName != null ? user.displayName : '';
          if(displayName) {
            window.location.pathname = '/chats'
          } else {
            showCompleteProfileForm();
            $("#title").text("Complete Your Profile");
            $("#dob").attr("max", new Date().toISOString().split("T")[0]);
            $("#loadingGuage").addClass("hide");
            Toastify({text: "Please complete your profile first."}).showToast();
          }
        } else {
          window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('sign-in-button', {
            'size': 'invisible',
            'callback': (response) => {
              // reCAPTCHA solved, allow signInWithPhoneNumber.
              console.log("captcha callback", response);
              if($("#phoneForm").valid()) {
                registerWithPhone($("#phoneForm")[0].phone.value);
              }
            },
            'expired-callback': () => {
              console.log("captcha expired callback");
            }
          });
          $("#loadingGuage").addClass("hide");
        }
      });
      $(document).ready(function() {
        $("#phoneForm").off("submit").on("submit", function(event) {
          event.preventDefault();
          registerWithPhone(this.phone.value);
        });

        $("#codeForm").on("submit", function(event) {
          event.preventDefault();
          console.log(window.confirmationResult);
          window.confirmationResult.confirm(this.code.value).then((result) => {
            // User signed in successfully.
            const user = result.user;
            console.log("User", user);
          }).catch((error) => {
            console.log("error confirm", error);
            Toastify({text: "Please enter valid code"}).showToast();
          });
        });

        $("#codeResend").off("click").on("click", function() {
          $("#phoneForm").trigger("submit");
        });

        $("#mobileReenter").off("click").on("click", function() {
          $("#codeForm").hide();
          $("#phoneForm").slideDown('fast');
        });
        
        $("#profileCompleteForm").on("submit", function(event) {
          event.preventDefault();
          const user = firebase.auth().currentUser;
          user.updateProfile({
            displayName: this.dispName.value,
            dob: this.dob.value
            // photoURL: "https://example.com/jane-q-user/profile.jpg"
          }).then(() => {
            Toastify({text: "Registration Completed."}).showToast();
            location.pathname = '/chats'
          }).catch((error) => {
            Toastify({text: "Unable to update the details. Please try again."}).showToast();
          }); 
        });

        $("#signOut").off("click").on("click", function() {
          firebase.auth().signOut();
          Toastify({text: "Signed out successfully"}).showToast();
          setTimeout(function() {
            window.location.pathname = "/";
          }, 300)
        });

      });

      function showCompleteProfileForm() {
        $("#codeForm, #phoneForm").hide();
        $("#profileCompleteForm").show()
      }

      function registerWithPhone(phoneNumber) {
        $("#loadingGuage").removeClass("hide");
        $("#phoneError").text('');
        firebase.auth().signInWithPhoneNumber('+91' + phoneNumber, window.recaptchaVerifier)
          .then((confirmationResult) => {
            window.confirmationResult = confirmationResult;
            $("#codeForm").slideDown('slow');
            $("#phoneForm").hide();
            $("#loadingGuage").addClass("hide");
        }).catch((error) => {
          console.log(error)
          if(error.code && error.code.indexOf("invalid-phone-number") != -1) {
            $("#phoneError").text("Please provide the valid phone number.")
          } else {
            $("#phoneError").text(error.message ? "Unable to process the request due to " + error.message : "Please provide the valid phone number.")
          }
          $("#loadingGuage").addClass("hide");
        });
      }

    </script>
  </body>
</html>