.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e9ecef;
    border-bottom: 1px solid #c6cbde;
}

#addChannelBtn, #addChatBtn {
    cursor: pointer;
}