* {
    font-family: 'Raleway', sans-serif;
}
.text-right { text-align: right; }
.fl { float: left; }
.fr { float: right; }
input:focus { outline: none; }
#loadingGuage {
    background-color: #6c757d;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loadingGuage.hide {
    display: none!important;
}