body {
  margin: 0;
}

.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e9ecef;
    border-bottom: 1px solid #c6cbde;
}

#addChannelBtn, #addChatBtn {
    cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 40px);
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-bar #openSideMenu {
  visibility: hidden;
  cursor: pointer;
}

.header-bar #openProfilePopUp {
  font-size: 14px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 100%;
  padding: 0;
  line-height: 2.5px;
  color: #FFF;
  background-color: #055160;
}

.chat-header {
  height: 40px;
  border-bottom: 1px solid #dee2e6;
}

.side-chatbar {
  width: 25%;
  overflow: auto;
  white-space: nowrap;
  background-color: #fff;
  z-index: 1;
  transition: width 0.3s 0.3s ease-in-out;
  border-right: 1px solid #dee2e6;
}
.chat-content {
  width: 75%;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#form {
  /* background: rgba(0, 0, 0, 0.15); */
  padding: 0.25rem;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  width: 100%;
  display: flex;
  height: 4rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-top: 1px solid #dee2e6;
  align-items: center;
}
#input {
  border: none;
  padding: 0 5px;
  flex-grow: 1;
  resize: none;
  border: 1px solid #dee2e6;
  /* border-radius: 2rem; */
  /* margin: 0.25rem; */
}
#input:focus {
  outline: none;
}
#form > button {
  background: #0a58ca;
  border: none;
  /* padding: 0 1rem; */
  margin: 0.25rem;
  border-radius: 100%;
  outline: none;
  color: #fff;
  height: 2rem;
  width: 2rem;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  max-height: calc(100% - 4rem);
  overflow-y: auto;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}
#messages > li > span {
  display: block;
  font-size: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .side-chatbar {
    position: absolute;
    height: calc(100% - 40px);
    left: 0;
    width: 0;
    transition: width 0.3s 0.3s ease-in-out;
  }
  .side-chatbar.open {
    width: 75%;
    transition: width 0.3s 0.3s ease-in-out;
  }
  .chat-content {
    width: 100%;
  }

  .header-bar #openSideMenu {
    visibility: visible;
  }
}